.game__result {
  position: absolute;
  z-index: 1;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_lose {
    color: #bf0000;
  }

  &_win {
    color: #1d7a00;
  }
}
